*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --light-neutral : #2080da;
    --neutral: #1864ab;
    --correct: #2f9e44;
    --wrong: #e03131;
}

/* INDEX //////////////////////////////////////////////////////////////////////////////////////////////////////// */
.bodyindex{
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100vw;
    min-width: 100vh;
    background-color: red;
    overflow-x: hidden;
}
.bodyquizz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: red;
    overflow: hidden;
}

.headerindex{
    display: flex;
    background-color: black;
    margin: 0;
    width: 100%;
    justify-content: center;
}

.mainindex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('images/lp.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 80vh;
}

.h1index{
    color: rgb(255, 255, 255);
}

.h2index{
    text-align: center;
    width: 50%;
    margin: 10vh;
    padding: 2vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    font-size: medium;
}

.h2test{
    color: black;
    font-size: xx-large;
    margin-top: 5vh;
    padding: 2vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
}

#rouge_bouton{
    background-color: red;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 20px;
    font-size: xx-large;
}

footer{
    display: flex;
    position: relative;
    bottom: 0;
    color: aliceblue;
    background-color: black;
    width: 100%;
    justify-content: center;
    text-align: center;
}

p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    text-align: center;
}

/* QUIZZ  ///////////////////////////////////////////////////////////////////////////////////////////*/

body.correct {
    background-color: var(--correct);
}

body.wrong {
    background-color: var(--wrong);
}

.mainquizz {
    background-image: url('images/background.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px; 
    width: 90vw;         
    max-width: 600px;     
    box-shadow: 0 0 10px 2px;
}


#question-container{
    width: 100%;        
    max-width: 600px;   
    margin-top: 20px;
    text-align: center;
}
#question{
    position: relative;
    bottom: 20px;
    margin: 0;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
text-align: center;
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 40px;
    height: 300px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#answer-buttons .btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

#next-btn{
     height: 50px;
     width: 150px;
     border-radius: 5px;
     margin-bottom: 15px;
     background-color: black;
     color: white;
     margin: 12px;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: var(--correct);
}

.btn.wrong {
   	background-color: var(--wrong);
}

.start-btn, .next-btn {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: white;
    border-radius: 6px;
    background-color: rgb(139, 44, 44);
}

.controls {
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#credits {
    background-color: black;

    width: 100%;         
    max-width: 600px;   
    text-align: center;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#names{
    width: 95%;
    text-align: center;
}


/* LEARN  ////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.bodylearn{
    margin: 0;
    padding: 0;
    background-color: #3a3537;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.headerlearn, .h1learn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: white;
    margin: 0;
    background-color: #5a0000;
}
.roots{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.roots p{
    margin: 24px;
}
.roots_img{
    height: fit-content;
}

.h2learn{
    text-align: center;
    color: #dc3030;
    font-size: 42px;
}
.txt{
    color: white;
    width: 50%;
    font-size: 24px;
}
.smaller_img{
    aspect-ratio: initial;
    width: 200px;
}
.smaller_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.music{
    margin-top: 20px;
    background-color: #241e20;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.music .txt{
    width: 85%;
    text-align: center;
}
.music_img{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.music_img div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.music_img div a{
    font-weight: bolder;
    color: white;
    font-size: 16px;
    margin: 10px;
}
.music_img div a:hover{
    color: rgb(103, 94, 223);
}
.music_img img{
    width: 40%;
}


.people{
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.numetal, .emo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}
.ppl{
    gap: 12px;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}
.profile a{
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}
.profile a:hover{
     color: #1864ab;
}
.desc{
    width: fit-content;
}
.desc .txt{
    width: 100%;
}
.ppl img{
    aspect-ratio: initial;
    height: 250px;
}
/* IMPACT  ////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.impact{
    padding: 15px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #241e20;
}
.impact .txt{
    width: 85%;
    text-align: center;
}
.impact_img{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
/* STEREOTYPES  ///////////////////////////////////////////////////////////////////////////////////////////////////*/
.stereotypes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stereotypes div{
    display: flex;
    justify-content: space-evenly;
}
.quizz_invitation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quizz_invitation h1{
    color: white;
    text-decoration: none;
}
.quizz_invitation a{
    color: white;
    text-decoration: none;
}
.quizz_button{
    width: 300px;
    height: 150px;
    background-color: #e03131;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    margin: 24px;
    text-decoration: none;
}
.quizz_button:hover{
    background-color: #db5959;
}

